#elementContainer {
	margin: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#quizEditMenu {
	margin-bottom: 60px;
}

#quizConfig {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#quizConfig > * {
	margin: 10px;
}
